body {
    margin: auto 0px;
    font-family: 'Roboto', sans-serif;
}

/* navbar styles */
header {
    background-color: rgba(2, 2, 43, 0.973);
    padding-left: 40px;
    padding-right: 40px;
}


.nav-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.nav-title {
    color: white;
}

.fa-solid {
    margin-right: 8px;
}

.nav-title-2 {
    width: 50%;
    display: flex;
    color: white;
    justify-content: space-around;
}

.nav-title-2 h4 {
    font-weight: 500;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.parents {
    margin-top: 40px;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
}

.child {
    max-width: 380px;
}

.child img {
    max-width: 380px;
}

small {
    color: rgb(192, 193, 194);
}

.read-more-btn {
    background-color: rgba(2, 2, 43, 0.973);
    color: white;
    padding: 10px 20px;
    font-weight: 700;
    border: none;
}

@media only screen and (max-width: 1023px) {
    body {
        margin: auto 0px;
    }

    header {
        padding-left: 10px;
        padding-right: 6px;
    }


    .nav-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

    }

    .nav-title {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
    }

    .fa-solid {
        margin-right: 4px;
    }

    .nav-title-2 {
        width: 100%;
        display: flex;
        color: white;
        font-size: 15px;
    }

    .parents {
        margin-top: 10px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 40px;
    }

    main {
        display: flex;
        justify-content: center;
    }

    .child {
        max-width: 330px;
    }

    .child img {
        max-width: 330px;
    }
}

@media only screen and (max-width: 767px) {
    header {
        padding-left: 10px;
        padding-right: 6px;
    }

    main {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-container {
        display: flex;
        justify-content: center;
        width: 100%;

    }

    .nav-title {
        display: flex;
        justify-content: center;

    }

    .fa-solid {
        margin-right: 2px;

    }

    .nav-title-2 {
        width: 100%;
        display: flex;
        color: white;
        font-size: 8px;
    }

    .nav-title {
        font-size: 10px;
    }

    .last-item-title {
        padding-right: -20px;
    }

    .parents {

        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }

    .child {
        max-width: 330px;
    }

    .child img {
        max-width: 330px;
    }


    .read-more-btn {
        background-color: rgba(2, 2, 43, 0.973);
        color: white;
        padding: 8px 10px;
        font-weight: 700;
        border: none;
    }


}